
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.data-rows:hover {
  box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;
}
mat-icon {
  font-size:large;
  color:#aeb6bf;
}

.table {
  width: 100% !important;
  // box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

mat-icon:hover {
  color:#17202a;
}
