<table class="table table-sm">
  <thead>
    <tr>
      <th
        scope="col"
        *ngFor="let heading of displayedColumns"
        style="padding: 1%; color: #566573"
      >
        {{ heading | titlecase }}
      </th>
      <th style="width: 10%; padding: 1%; color: #566573" *ngIf="isAction">
        Actions
      </th>
    </tr>
    <tr *ngIf="isAction">
      <th scope="col" *ngFor="let searchCol of searchColumns; let i = index">
        <input
          type="text"
          nbInput
          fullWidth
          [id]="searchCol?.name"
          class="inputs"
          [formcontrolname]="searchCol?.name"
          shape="rectangle"
          [placeholder]="'Search ' + displayedColumns[i]"
          (keyup)="search($event)"
          autocomplete="off"
        />
      </th>
      <th>
        <button type="button" class="btn btn-light" (click)="reset()">
          Reset All
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data" class="data-rows">
      <td *ngFor="let column of definedColumns">
        <p
          [matTooltip]="row[column]?.name"
          *ngIf="row[column]?.name"
          class="ellipsis"
        >
          {{ row[column]?.name }}
        </p>
        <p
          [matTooltip]="row[column]"
          *ngIf="!row[column]?.name"
          class="ellipsis"
        >
          {{ row[column] }}
        </p>
      </td>
      <td *ngIf="isAction">
        <mat-icon *ngIf="isDetail" (click)="detail(row?.id)" matTooltip="detail"
          >remove_red_eye</mat-icon
        >
        <mat-icon matTooltip="edit" (click)="edit(row?.id)">edit</mat-icon>
        <mat-icon matTooltip="remove" *ngIf="isDelete" (click)="delete(row?.id)"
          >delete</mat-icon
        >
      </td>
    </tr>
    <tr *ngIf="data?.length === 0">
      <td [colspan]="displayedColumns?.length">No Records Found</td>
    </tr>
  </tbody>
</table>
<div *ngIf="isPagination">
  <mat-paginator
    [length]="count"
    [pageSizeOptions]="[10, 25, 100]"
    showFirstLastButtons
    (page)="onPaginate($event)"
  >
  </mat-paginator>
</div>
<div></div>
