<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" *ngFor="let heading of displayedColumns">
        {{ heading | titlecase }}
      </th>
    </tr>
    <tr>
      <th scope="col" *ngFor="let searchCol of searchColumns; let i = index">
        <input
          type="text"
          nbInput
          fullWidth
          [id]="searchCol?.name"
          class="inputs"
          [formcontrolname]="searchCol?.name"
          shape="rectangle"
          [placeholder]="'Search ' + displayedColumns[i]"
          (keyup)="search($event)"
          autocomplete="off"
        />
      </th>
      <th>
        <button class="btn btn-outline-secondary" (click)="reset()">
          Reset
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let column of definedColumns">
        <p
          matTooltip="{{ row[column]?.name }}"
          *ngIf="row[column]?.name"
          class="ellipsis"
        >
          {{ row[column]?.name }}
        </p>
        <p
          matTooltip="{{ row[column] }}"
          *ngIf="!row[column]?.name"
          class="ellipsis"
        >
          {{ row[column] }}
        </p>
      </td>
    </tr>
    <tr *ngIf="data?.length === 0">
      <td [colspan]="displayedColumns?.length">No Records Found</td>
    </tr>
  </tbody>
</table>
