<nb-card>
  <nb-card-body>
    <div class="page-header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a class="st"><b>User</b></a>
          </li>
          <li class="breadcrumb-item">
            <a class="st" routerLink="pages/farmer"><b>Farmer</b></a>
          </li>
        </ol>
      </nav>
      <button
        style="height: fit-content"
        nbButton
        status="primary"
        hero
        (click)="add()"
      >
        Add
      </button>
    </div>
    <app-common-table
      [count]="count"
      [displayedColumns]="displayedColumns"
      [definedColumns]="definedColumns"
      [searchColumns]="searchColumns"
      [canShowSearch]="true"
      [data]="users"
      [isAction]="true"
      [isDetail]="true"
      (editRow)="edit($event)"
      (paginate)="onPaginate($event)"
      (searchEvent)="onSearch($event)"
      (deleteRow)="deleteConfirm($event)"
    >
    </app-common-table>
  </nb-card-body>
</nb-card>
