<nb-card>
  <nb-card-header>
    <section class="pr-section pr-breadcrumbs-sec">
      <div class="row">
        <div class="col-11 align-self-start">
          <nav aria-label="breadcrumb">
            <ol class="pr-breadcrumb breadcrumb st">
              <li class="breadcrumb-item">
                <a class="st"><b>User</b></a>
              </li>
              <li class="breadcrumb-item">
                <a class="st" href="pages/farmer"><b>Farmer</b></a>
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-1">
          <button
            nbButton
            class="float-right"
            status="primary"
            hero
            (click)="add()"
          >
            Add
          </button>
        </div>
      </div>
    </section>
  </nb-card-header>
  <nb-card-body>
    <app-common-table
      [count]="count"
      [displayedColumns]="displayedColumns"
      [definedColumns]="definedColumns"
      [searchColumns]="searchColumns"
      [canShowSearch]="true"
      [data]="data"
      [isAction]="true"
      [datatrigger]="datatrigger"
      [isDetail]="true"
      (editRow)="edit($event)"
      (paginate)="onPaginate($event)"
      (searchEvent)="onSearch($event)"
      (deleteRow)="deleteConfirm($event)"
    >
    </app-common-table>
  </nb-card-body>
</nb-card>
